body {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
header {
    width: 100%;
    text-align: center;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.top-bar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.converter, .search {
    display: flex;
    align-items: center;
}
.converter input, .search input {
    margin: 0 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.iframe-container {
    width: 99%;
    margin: 10px 0;
    height: 400px;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}